{% extends "itineraires/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}


<form action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="username" class="form-label" >Nom d'utilisateur: </label>
    <input id="username" type="text" class="form-control" name="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label" >Mot de passe: </label>
    <input id="password" type="password" class="form-control" name="password">
  </div>
  <center>
  <input class="btn btn-outline-success" type="submit" value="Login">
  </center>
</form>

{# Assumes you set up the password_reset view in your URLconf #}
<center>
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</center>

{% endblock %}