<!doctype html>
<html lang="en">
  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarExample01"
            aria-controls="navbarExample01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/itineraires/">Itinéraires</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sorties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ajout d'une sortie</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">À propos</a>
              </li>
            </ul>
          </div>
          {% if user.is_authenticated%}
              <button class="btn btn-light ms-3"> <a href="/accounts/logout/"> Logout </a></button>
          {% else %}
              <button class="btn btn-light ms-3"> <a href="/accounts/login/"> Login </a></button>
          {% endif %}
        </div>
      </nav>
      <!-- Navbar -->
    
      <!-- Jumbotron -->
      <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Trip review</h1>
        <h4 class="mb-3">by Alexia Auddino</h4>
      </div>

    </header>

    <body>
      <div class="content container">
          <div class="row">
              {% block content %}
              {% endblock %}
          </div>
      </div>
  </body>

</html>