{% extends "itineraires/base.html" %}
{% block content %}
    <div class="container mt-3">
        <h2> Sorties {{ itineraire.titre }} </h2>
            <p>  </p>
        {% if sorties_list%}
        <table class="table table-hover">
        <thead>
            <tr>
                <th scope="row"> </th>
                <th scope="col"> Par </th>
                <th scope="col"> Date </th>
                <th scope="col"> <center> Difficulté ressentie </center> </th>
                <th scope="col">  </th>
                <th scope="col">  </th>
                <th scope="col">  </th>
                {% if user.is_authenticated%}
                  <th scope="col">  <a href="/itineraires/sorties/{{ itineraire.id }}/nouvelle_sortie" class="btn btn-warning"> Ajouter une sortie </a> </th>
                {% else %}
                  <th scope="col"> </th>
                {% endif %}
            </tr>
        </thead> 
        <tbody>  
            {% for sortie in sorties_list %}
                    <tr>
                        <th scope="row"> </th>
                        <td>{{ sortie.utilisateur.username }}</td>
                        <td>{{ sortie.date_sortie }} </td>
                        <td> <center> {{ sortie.difficulte_ressentie }} / 5  </center> </td>
                        <td><a href="sortie/{{ sortie.id }}/" class="btn btn-outline-primary"> Consulter </a> </td> 
                        <!--seulement pour utilisateur connecté -->
                        {% if user.is_authenticated%}
                          {% if user.username == sortie.utilisateur.username%}
                              <td> <a href="/itineraires/sorties/{{ itineraire.id }}/modif_sortie/{{ sortie.id }} " class="btn btn-outline-danger"> Modifier </a></td>
                          {% endif %} 
                        {% else %}
                            <td>  </td> 
                        {% endif %}
                        <td>  </td> 
                    </tr>
            {% endfor %}
        </tbody>
        </table>  
        {% endif %} 
  </div>
  {% endblock %}