{% extends "itineraires/base.html" %}
{% block content %}
    <div class="container mt-3">
        <h2> Sorties {{ itineraire.titre }} </h2>
            <p>  </p>
        {% if sorties_list%}
        <table class="table table-hover">
        <thead>
            <tr>
                <th scope="row"> </th>
                <th scope="col"> Par </th>
                <th scope="col"> Date </th>
                <th scope="col">  </th>
                <th scope="col">  </th>
                <th scope="col">  <a href="" class="btn btn-info"> Ajouter une sortie </a> </th>
            </tr>
        </thead> 
        <tbody>  
            {% for sortie in sorties_list %}
                    <tr>
                        <th scope="row"> </th>
                        <td>{{ sortie.utilisateur.username }}</td>
                        <td>{{ sortie.date_sortie }} </td>
                        <td><a href="sortie/{{ sortie.id }}/" class="btn btn-info"> Consulter </a> </td> 
                        <!--seulement pour utilisateur connecté -->
                        <td> <a href=" " class="btn btn-info"> Modifier </a></td> 
                    </tr>
            {% endfor %}
        </tbody>
        </table>  
        {% endif %} 
  </div>
  {% endblock %}