{% extends "itineraires/base.html" %}
{% block content %}
    <div class="container mt-3">
        <h2> {{ itineraire.titre }} </h2>
            <p> {{ itineraire.description }} </p>
            <table class="table">
                <tbody>
                  <tr>
                    <th>Altitude de départ </th>
                    <td> {{ itineraire.altitude_depart }} m</td>
                  </tr>
                  <tr>
                    <th>Altitude minimale </th>
                    <td> {{ itineraire.altitude_min }} m</td>
                  </tr>
                  <tr>
                    <th>Altitude maximale </th>
                    <td> {{ itineraire.altitude_max }} m</td>
                  </tr>
                  <tr>
                    <th>Dénivelé positif cumulé</th>
                    <td> {{itineraire.denivele_pos}}</td>
                  </tr>
                  <tr>
                    <th>Dénivelé négatif cumulé</th>
                    <td> {{itineraire.denivele_neg}}</td>
                  </tr>
                  <tr>
                    <th>Durée estimée</th>
                    <td>{{itineraire.duree_estimee}} h</td>
                  </tr>
                  <tr>
                    <th>Difficulté estimée</th>
                    <td> {{itineraire.difficulte_estimee}} / 5</td>
                  </tr>
                </tbody>
              </table>
              <br> </br>
              <h2> Sorties </h2>
        {% if sorties_list%}
        <table class="table table-hover">
        <thead>
            <tr>
                <th scope="row"> </th>
                <th scope="col"> Par </th>
                <th scope="col"> Date </th>
                <th scope="col"> <center> Difficulté ressentie </center> </th>
                <th scope="col">  </th>
                <th scope="col">  </th>
                <th scope="col">  </th>
            </tr>
        </thead> 
        <tbody>  
            {% for sortie in sorties_list %}
                    <tr>
                        <th scope="row"> </th>
                        <td>{{ sortie.utilisateur.username }}</td>
                        <td>{{ sortie.date_sortie }} </td>
                        <td> <center> {{ sortie.difficulte_ressentie }} / 5  </center> </td>
                        <td><a href="{%url 'details' itineraire_id=itineraire.id sortie_id=sortie.id%}" class="btn btn-outline-primary"> Consulter </a> </td> 
                        <!--seulement pour utilisateur connecté -->
                        {% if user.is_authenticated%}
                          {% if user.username == sortie.utilisateur.username%}
                              <td> <a href="{%url 'modif_sortie' itineraire_id=itineraire.id sortie_id=sortie.id %}" class="btn btn-outline-danger"> Modifier </a></td>
                          {% endif %} 
                        {% else %}
                            <td>  </td> 
                        {% endif %}
                    </tr>
            {% endfor %}
        </tbody>
        </table> 
        {% endif %} 
        {% if user.is_authenticated%}
        <a href="{%url 'nouvelle_sortie' itineraire_id=itineraire.id %}" class="btn btn-warning"> Ajouter une sortie </a>
        {% endif %} 

        <br/> <br/>
  </div>
  {% endblock %}